.App {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  height: 10%;
  background: #ea4335;
  box-sizing: border-box;
  padding-top: 13px;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container {
  width: 100%;
  height: 90%;
}

.map {
  height: 100%;
  width: 70%;
  background: #ccc;
  display: inline-block;
  float: right;
}

.sidebar {
  height: 100%;
  width: 30%;
  display: inline-block;
  float: left;
  text-align: center;
  padding : 40px 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ea4335;
  text-decoration: underline;
}

.sidebar input {
  margin-bottom: 10px;
  width: 90%;
  line-height: 3em;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ccc;
  padding: 0;
}

.results {
  width: 90%;
  margin: 0 auto;
}

.results-summary {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 35px;
  line-height: 0.8em;
  color: #811411;
}

.results-list {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 40px 0;
  font-size: 1.5em;
}

.result-item {
  margin-bottom: 0.7em;
  color: #ea4335;
  cursor: pointer;
  font-weight: bold;
}

.result-item:hover {
  font-size: 1.2em;
}

.error {
  padding: 3em;
  text-align: center;
  background-color: #273c75;
  margin: 3em auto;
  border-radius: 10px;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.25);
  transition: all 0.4s ease-in-out;
}

.error:hover,
.error:focus {
  box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.25);
}

.error .message {
  color: #dfe4ea;
  font-size: 18px;
}

.error .message p {
  margin: 0;
}

.error .message img {
  height: 30px;
  display: block;
  margin: 1em auto;
}

.details-place {
  display: flex;
  flex-flow: row wrap;
  height: 290px;
}

.details-title {
  font-size: 22px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid #26323886;
  padding-bottom: 0.2em;
  margin: 0;
}

.details-title a {
  text-decoration: none;
  color: #ea4335;
  transition: all 0.4s ease-in-out;
}

.details-title:hover a,
.details-title:focus a {
  color: #f94878;
}

.details-address {
  width: 100%;
  align-self: center;
  color: #263238;
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 16px;
}

.info {
  width: 100%;
}

.details-rating {
  width: 16.4%;
  position: relative;
  align-self: center;
  background: #fff000;
  padding: 10px 5px;
  border-radius: 50%;
  display: inline-block;
  
  float: right;
}

.details-rating .rating-number {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.details-rating .icon {
  display: inline-block;
  width: 34px;
}

.details-category {
  width: 60%;
  font-size: 16px;
  text-transform: lowercase;
  color: #263238;
  margin-bottom: 0.5em;
  display: inline-block;
  float: left
}

.category-pill {
  font-size: 14px;
  display: inline-block;
  color: #0366d6;
  background-color: #d9edff;
  margin: 0 0 2px 2px;
  padding: 2px;
  border-radius: 4px;
}

.details-img {
  width: 100%;
}

.details-img img {
  max-width: 100%;
  margin: 0;
}

.details-more {
  width: 10%;
  align-self: flex-end;
  text-align: right;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.details-more:hover,
.details-more:focus {
  opacity: 1;
}

.details-more img {
  height: 20px;
}
